@import url('https://fonts.googleapis.com/css2?family=Kings&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=Roboto:ital,wght@0,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/bleeding-cowboys');

:root {
    --animation-time: .25s;
    --red: #f00;
    --purple: rgb(127, 31, 127);
}

body {
    background: linear-gradient(135deg, var(--red) 10%, var(--purple) 90%);
    min-height: 100vh;
    color: white;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

wpi {
    font-family: serif;
    color: white;
}

name {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

bouncer {
    position: absolute;
    width: calc(100%/7);
    z-index: 2;
}


.stack {
    position: relative;
    z-index: 3;
    padding: 2.5% 2.5% 0;
}

kings {
    font-family: "Kings", cursive;
    font-weight: 400;
    font-style: normal;
}

.no-top-margin{
    margin-top: 0;
}

.half-width{
    width:50%
}

.quarter-3-width{
    width:75%
}

.full-width {
    width: 100%;
}
table.even{
    table-layout: fixed;
    width: 100%;
}

.video{
    position: absolute;
    z-index: 1;
    width: 20%;
    right: 2.5%;
    top: 2.5%;
}


/* from twemoji readme */
img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
 }

 graphic{
    position: absolute;
    left:50%;
    top:15%;
    font-family: 'Bleeding Cowboys', sans-serif;
    transform: rotate(-30deg);
    /* background: linear-gradient(120deg, var(--red) 10%, var(--purple) 90%); */
    color: transparent;
    font-size: 2.5em;
    background-image: url("graphic.jpg");
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-position-x:center;
    background-size: 20%, 20%;
    z-index: 4;
 }

 .graphic_move{
    background-position-y:center;
 }

 .graphic_hide{
    background-clip: text;
 }
 /* .main::after {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("http://placekitten.com/800/1200");
    background-size: cover;
    content: '';
    -webkit-animation: spinX 3s infinite;
    animation: spinX 3s infinite;
} */