p{
    font-family: "Courier Prime", monospace;
    color: #c65cf7;
}
body{
    background-color: #e7cdf3;
}
.heading{
    font-family: "Courier Prime", monospace;
    color: #f75c97;
}
li{
    font-family: "Courier Prime", monospace;
    color: #605cf7;
}
th{
    text-align:left;
    border:1px solid #f75cf4;
    font-family: "Courier Prime", monospace;
    font-size: 20px;
    color: #935cf7;
}
header{
    background-color: #935cf7;
    text-align: center;
}
footer{
    background-color: #935cf7;
    width:99%;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
footer p{
    color:#e7cdf3;
}
a{
    color: #f75c97;
}