body {
    background-color: #8F733F;
  }
  
  header{
    text-align: center;

  }
  h1 {
    color: #FEFFC7;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
 
  h2 {
    color: #8F733F;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  p {
    color: #B4F56A;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
section { 
    background-color: #F9D78E;
    border: double medium; 
    margin: 2em; 
} 
section p{
    color: #25800D;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
section.subsection{
    display: inline-block;
    align-items: normal;
    background-color: #FEFFC7;
    text-align: center;
    vertical-align: middle;
    width: 45%;
    height: 50%;
}
section ul{
    color: #25800D;
    display: inline-block;
    text-align: left;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

}

img{
    display: block;
    width: 50.0vw;
    height: auto;
    margin: auto;
}
aside {
    background-color: #8F733F;
    margin: auto;
    width: 25%;
}
aside p{
    color: #FEFFC7;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

figure.colors{

    text-align: center;
}
figcaption{
    color: #B4F56A; 
}

