/*fonts*/
.baloo-2-regular {
              font-family: "Baloo 2", sans-serif;
              font-optical-sizing: auto;
              font-weight: 400;
              font-style: normal;
          }
.dangrek-regular {
    font-family: "Dangrek", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*rules for semantic html tags*/
body {
    background-color: #D9DCD6;
    font-family: "Baloo 2", sans-serif;
}
h1 {
    font-family: "Dangrek", sans-serif;
    color: #353535;
}
h2 {
    font-family: "Dangrek", sans-serif;
    color: #BF6900;
}
img {
     height: 300px;
 }
article {
    font-size: larger;
    color: #618B4A;
}
a {
    color: #1985A1;
}
table, th, td {
    border-collapse: collapse;
    border: 2px solid #353535;
    background-color: #D9DCD6;
    padding: 5px;
    color: #1985A1;
}
footer {
    font-size: smaller;
    color: #353535;
}

