body{
    background-color: #6D72A0;
}
p{
    color: #F5F356;
}
h1{
    color:#F5D256;
    font-size: xx-large;
}
h2{
    color:#56B8F5;
    font-size: x-large;
}
h3{
    color:#F5D256;
    font-style: italic;
    font-size: large;
}
ul{
    background-color:#5664F5;
}
li{
    text-align: justify;
    color:#F5F356;
}