/* The body of the project is in Google Font BioRhyme (link ref in index.html header)
and all text is aligned center unless specified otherwise*/
body {
    font-family: "BioRhyme", serif; 
    text-align: center;
}

/* The outer background is in a darker blue and is a flex container for all other elements
on the page */
.background {
    display: flex;
    background-color: #4158F0;
}

/* The text_background spans the middle of the page and contains all text on the page */
.text_background {
    margin-left: 15%;
    width: 70%;
    background-color: #418FF0;
    display: flex;
    flex-direction: column;
}

/* The header_background is in a lighter purple and contains the title of the page */
.header_background {
    justify-content: center;
    display: flex;
    height: fit-content;
    background-color: #919DF0;
}

/* Text is used as a custom header class in this project that I liked for some headers more than
the built-in h1 or h2 types */
t {
    font-size: 24px;
    font-weight: bold;
}

/* Both course tables are styled to almost span the page (with small margins) */
table {
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid;
    border-collapse: collapse;
}

/* The table headers for Class Number and Class Title are simply bold versions of the data */
th {
    border: 1px solid;
    border-color: gray;
}

/* The class_code data is styled the same as th but is not bolded */
.class_num {
    border: 1px solid;
    border-color: gray;
}

/* I liked the left alignment of the class names better than the center alignment, so there are
two classes for the table data (class_code and class_name) */
.class_name {
    border: 1px solid;
    border-color: gray;
    text-align: left;
}

/* The unordered list is styled so the bullet points are centered along with the data */
ul {
    list-style-position: inside;
    font-weight: bold;
}

/* The spawner_button is customized with the color palette and a text-stroke that makes it stand out */
.spawner_button {
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    height: 50px;
    background-color: #41C7F0;
    color: #6241F0;
    -webkit-text-stroke-width: 0.01px;
    -webkit-text-stroke-color: black;
    border-radius: 30%;
}

/* The fish_div allows the image to be animated, with a relative position and initially 
hidden visibility. The div is also positioned at flex-end so the fish swims in the right direction */
.fish_div {
    visibility: hidden;
    align-self: flex-end;
    position: relative;
}